body { font-size: 13pt; line-height:1.6;
font-family: "Libre Franklin","Helvetica Neue",helvetica }

p { margin 0 0 20px; }

h2 { color: #485;}
h3 { color: #d83;}

.firsat img {max-width:100%;}
.alignright {float:right; }
.alignleft {float:left; }
img.alignleft {margin-right:15px; }
img.alignright {margin-left:15px; }

.post {margin-bottom: 30px;}
.wp-post-image { margin-bottom: 10px;}

ul.kiwi-article-bar {margin-bottom: 10px;}

.media .media-left a {width:128px; height: 48px; display:block; overflow: hidden;}
.media .media-left a img {width:118px; }

.media .media-body a span {color:black;}

.more a { font-size: 95%; color:#99a; font-weight:bold;}

.top-buffer { margin-top:30px; }
.bordered {border: 1px solid #f7f7f7; }

.label {
font-size:100%;
line-height:200%;
}

.navbar-brand img {
width: 42px;
height: 32px;
float: left;
margin-right: 10px;
margin-top: -6px;
}

.nav .social a {padding: 12px 10px;}
.nav .social a img {width:24px; }


.jumbotron {
	background:url(../img/jumbo-bg.jpg) no-repeat left top;
	background-size: 105% 100%;
	background-color: rgba(255,255,255,0.6);
	color: #597;
}
.jumbotron h1 {
	text-shadow: 2px 1px 4px rgba(33,96,129,.5);
}
.jumbotron .lead {
	color: #567;
}

.contact {
background-color: #ebf0f7;
padding-bottom:30px;
}

.contact_form {
margin-top: 20px;
padding: 10px 30px 30px 30px;
background-color: #fff;
border-radius: 2px;
-webkit-box-shadow: 0px 3px 1px 0px rgba(211,213,207,0.75);
-moz-box-shadow: 0px 3px 1px 0px rgba(211,213,207,0.75);
box-shadow: 0px 3px 1px 0px rgba(211,213,207,0.75);
}

.firsat {
padding: 0px 20px 20px 20px;
border-width: 1px 1px 1px 1px;
border-style: solid;
border-color: #e7f5e7;
}

.arama {
padding-top: 20px;
}

.list-group-item {padding: 3px 15px; }

.foot-menu {
padding: 20px;
text-align:center;
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px) {

img.alignleft {
width:100%;
height:auto;
margin-right:0;
float:none;
}

img.alignright {
width:100%;
height:auto;
margin-left:0;
float:none;
}


.nav a  img {margin-right: 20px;}
.visible-xs-inline { display: inline-block !important; }
}

